<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
 FB.init({
  appId: "140039996075333",
  xfbml: true,
  cookie: true,
  status: true
 });
};
(function() {
 var e = document.createElement('script'); e.async = true;
 e.src = document.location.protocol + '//connect.facebook.net/ru_RU/all.js';
 document.getElementById('fb-root').appendChild(e);
}());
</script>
<fb:comments></fb:comments>

<br/>